py-sc-kpm==0.2.0
py-sc-client==0.3.0
requests
numpy
tensorflow
tf-keras
pandas
langchain==0.3.24
langchain-chroma==0.2.3
langchain-community==0.3.22
langchain-core==0.3.55
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.8
langsmith==0.3.33
libclang==18.1.1
docx2txt
pypdf
python-multipart
sentence-transformers
fastapi
uvicorn
